.details-page {
    margin: 0 auto;
    padding: 9rem 3rem;
}

.container-details {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2rem;
}

.img-container {
    flex: 0 1 35%;
}

.product-img{
    width: 100%;
}

.content-container {
    flex: 0 1 35%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

span > h1 {
    padding-bottom: 3rem;
    font-size: 2em;
}

span > p {
    border-bottom: 1px solid rgb(252, 250, 242);
    padding-bottom: 2rem;
    font-size: 1rem;
}

span > h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.btn-details {
    font-size: 1rem;
    background-color: transparent;
    padding: .5rem 1rem;
    text-align: center;
    width: 35%;
    border: 1px solid rgb(252, 250, 242);
    border-radius: .2rem;
}

.btn-details:hover {
    background-color: rgba(252, 250, 242, 0.9);
    cursor: pointer;
    color: rgb(11, 16, 19);
}