*{
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.App {
    color: whitesmoke;
    background-image: url("../resources/gray-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}