.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1230px;
    height: 100vh;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sushi-product-container {
    /* padding: .3rem; */
    border-radius: 20px;
    border: 2px solid rgba(245, 245, 220, 0.582);
}

.productImg {
    border-radius:20px 20px 20px 0;
    max-width: 20em;
}

@media only screen and (max-width: 1172px) {
    .container-wrapper {
        margin-top: 3rem;
    }

    .productImg {
        max-width: 19em;
        max-height: 19em;
    }
}

@media only screen and (max-width: 670px) {
    .container {
        margin-top: 3rem;
    }

    .productImg {
        max-width: 16em;
        max-height: 16em;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin-top: 3rem;
    }

    .productImg {
        max-width: 13em;
        max-height: 13em;
    }
}
@media only screen and (max-width: 410px) {
    .container {
        /* margin-top: rem; */
    }

    .productImg {
        max-width: 9em;
        max-height: 9em;
    }
}