
.finish-order-container {
    margin: 0 auto;
    padding: 9rem 0;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.finish-order-container > div:first-child{
    flex-basis: 40%;
}

.finish-order-container > div:first-child > h4{
    padding-bottom: 2rem;
}

.finish-order-container > div:first-child > h6 {
    text-decoration: underline;
    text-decoration-color: salmon;
}

.finish-order-container > div:last-child {
    z-index: 1;
    flex-basis: 30%;
    font-size: .8rem;
    padding: 1rem;
}

.order-details-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.order-details-container > p {
}

.order-main-container {
    background-color: rgb(23, 32, 38);
    border-radius: .5rem;
}

/* .order-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.order-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5rem
}

.container-img{
    padding-left: 1rem;
    flex-basis: 10%;
}

.order-product-container > p:nth-child(2) {
    flex-basis: 100px;
}

.order-product-container > p:nth-child(3) {
    flex-basis: 20px;
}

.order-product-container > p:last-child {
    flex-basis: 100px;
}

.expenses-container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
}

.expenses-container > button {
    /* margin-top: 1rem; */
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(252, 250, 242);
    padding: .2rem 1rem;
    border-radius: .2rem;
}

.expenses-container > div > p:first-child {
    padding-bottom: .5rem;
}